@use "global" as *;

/*=================================
card
=================================*/
.card {
  position: relative;
}

.card::after {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  color: $white;
  padding: rem(5) rem(15);

}

.web::after {
  content: "Web";
}

.game::after {
  content: "Game";
}

.app::after {
  content: "App";
}

.movie::after {
  content: "Movie";
}

.graphic::after {
  content: "Graphic";
}

.blog::after {
  content: "Blog";
}