@use "global" as *;

/*=================================
contact
=================================*/
.contact {
  margin-top: rem(160);
}

.contact__inner {

}

.contact__header {

}

.contact__button {
  margin: rem(100) auto 0;
  text-align: center;

}