@use "global" as *;

/*=================================
hamburger
=================================*/
$drawer-width: 24px; //ドロワーの幅
$drawer-height: 2px; //ドロワー線の高さ
$drawer-color: $black; //ドロワー線の色

.hamburger{
 z-index:400;

  @include mq(md) {
    display: none;
  }
}

.hamburger span {
  position: relative;
  display: block;
  height: $drawer-height;
  width: $drawer-width;
  background: $drawer-color;
  transition: ease .3s;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 4px 0;
}
// 真ん中の線の上下にマージンで間隔を開けている

.hamburger span:nth-child(3) {
  top: 0;
}
/*is-OPEN時の動き*/
.hamburger.is-open span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}
// is-OPEN時は斜めになる

.hamburger.is-open span:nth-child(2) {
  transform: translateY(-50%);
  opacity: 0;
}
// is-OPEN時は透明になって見えなくなる

.hamburger.is-open span:nth-child(3) {
  top: -7px;
  transform: rotate(-45deg);
}
// is-OPEN時は斜めになる
